@font-face {
  font-family: "AlexBrush";
  src: url(./fonts/alex-brush/AlexBrush-Regular.ttf);
}

:root {
  --primaryBackground: #fbfbff;
  --secondaryBackground: #f0f0ff;
  --mainColor: #0000d1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #000;
}
body {
  min-height: 100vh;
  width: 100%;
}
body::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: -1;
  background: linear-gradient(20deg, #c5c5ff, #ffffff, #c5c5ff);
}
.alexTheme {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "AlexBrush";
  color: var(--mainColor);
}

/* ----- header ----- */
header {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 300px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  background: var(--primaryBackground);
  box-shadow: 0 0 0.2rem #aaa;
  border-radius: 0.5rem;
}
h1 {
  font-size: 3rem;
}
h1,
h2 {
  margin: 1rem 0;
  font-family: "AlexBrush", Times, serif;
  color: var(--mainColor);
}
p {
  margin-bottom: 1rem;
}
img {
  height: 240px;
  background: var(--secondaryBackground);
  border: solid 1px var(--mainColor);
  border-radius: 0.5rem;
}

/* ----- MAIN ----- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2rem;
}
main p {
  text-align: justify;
}

/* ----- Footer ----- */
footer {
  padding: 1rem 0.5rem;
  background-color: var(--secondaryBackground);
  overflow: hidden;
}
footer li {
  padding: 1rem 2rem;
  transition: 0.3s;
}
footer li:hover {
  transform: scale(1.2);
}
footer a {
  padding: 0.5rem;
}
footer a:active {
  color: var(--mainColor);
  text-shadow: 0 0 0.1rem var(--mainColor);
}

/* ----- Media Queries ----- */
@media screen and (min-width: 440px) and (max-width: 720px) {
  div {
    width: 90%;
  }
}

@media screen and (min-width: 720px) {
  div {
    width: 680px;
  }
  header img {
    float: right;
  }
  footer ul {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  div {
    margin: 0 5rem 3rem 5rem;
  }
  main div:nth-of-type(2n + 1) {
    align-self: flex-start;
  }
  main div:nth-of-type(2n + 2) {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1260px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    width: 1260px;
  }
  footer {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
